version: "3.9"

services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: rpi-mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./config:/mosquitto/config
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
    command: [ "mosquitto", "-c", "/mosquitto/config/mosquitto.conf" ]
